/%p#notice= notice


%p
	%strong Name:
	= @beer.name


%p
	%strong Description:
	= @beer.description


%p
	%strong Note:
	= @beer.note

%p
	%strong Moyenne:
	= @beer.moy

%p
	%strong qui:
	-@beer.beer_geeks.each do |bg|
		%p
		= "#{bg} a ajouté la note #{bg.notes.map{|n| n.value}.join(" et ").to_s} à cette bière"



= link_to 'Edit', edit_beer_path(@beer)
= link_to 'Back', beers_path

